@page
@model DB_top_shop_aspNet.Pages.AboutModel
@{
	ViewData["Title"] = "About";
}
<h2>О разработчике</h2>
<p>Разработал студент Академии ТОП</p>
<a asp-page="/Index" class="btn btn-secondary">← На главную</a>