@page
@model DB_top_shop_aspNet.Pages.Products.DeleteModel
@{
	ViewData["Title"] = "Delete Product";
}
<h2>Удаление продукта</h2>

<h4>Вы хотите удалить выбранный продукт?</h4>
<div>
    <dl class="row">
        <dt class="col-sm-2">Наименование</dt>
        <dd class="col-sm-10">@Model.Products.Name</dd>

        <dt class="col-sm-2">Цена</dt>
        <dd class="col-sm-10">@Model.Products.Price</dd>
		
      


    </dl>

   

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m => m.Products.Id)
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a href="@Url.Page("./Index")" class="btn btn-secondary">Отмена</a>
    }




</div>
